<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name, "Artwork Name" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :photo_url, "Photo URL" %><br>
      <%= f.text_field :photo_url %>
    </div>
    <div class="field">
      <%= f.label :cost, "Cost" %><br>
      <%= f.number_field :cost %>
    </div>
    <div class="field">
      <%= f.label :description, "Description" %><br>
      <%= f.text_field :description %>
    </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>
