<div class="text-center">
<p id="notice"><%= notice %></p>
<h1>Artwork</h1>

<% @listings.each do |listing| %>
    <img src="<%= listing.photo_url %>" style="max-width: 500px;"><br>
    Name: <%= listing.name %><br>
    Cost: $<%= listing.cost %><br>
    Description: <%= listing.description %><br>
    <%= link_to "Message Seller", :controller => "listings", :action => "send_interest_email", :id => listing.id, :email => @current_user.email %><br><br><br><br>

<% end %>

<br>
</div>
