<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<% @listings.each do |listing| %>
    <img src="<%= listing.photo_url %>" style="max-width: 500px;"><br>
    Seller: <%= listing.name %><br>
    Cost: $<%= listing.cost %><br>
    Description: <%= listing.description %><br><br><br><br>
<% end %>

<br>

<%= link_to 'New Listing', new_listing_path %>
